<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/prueba2">Prueba 2</a></li>
        <li><a href="/prueba3">Prueba 3</a></li>
        <li><a href="/prueba4">Prueba 4</a></li>
        <li><a href="/nosotros">NOSOTROS</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
